html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
iframe {
  display: none;
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1276px 1146px #fff, 119px 451px #fff, 20px 1046px #fff,
    1513px 252px #fff, 830px 1898px #fff, 1063px 640px #fff, 666px 1490px #fff,
    1490px 41px #fff, 542px 1717px #fff, 1056px 1659px #fff, 236px 734px #fff,
    381px 560px #fff, 1337px 1364px #fff, 1690px 1555px #fff, 1746px 381px #fff,
    1807px 1746px #fff, 1307px 1634px #fff, 1983px 217px #fff,
    1638px 1751px #fff, 1692px 579px #fff, 1458px 220px #fff, 1219px 708px #fff,
    237px 349px #fff, 710px 970px #fff, 859px 1012px #fff, 361px 947px #fff,
    382px 1451px #fff, 1752px 1876px #fff, 381px 916px #fff, 156px 297px #fff,
    1556px 1976px #fff, 1947px 1597px #fff, 631px 372px #fff, 1705px 347px #fff,
    920px 632px #fff, 1146px 868px #fff, 1157px 83px #fff, 1111px 457px #fff,
    1794px 339px #fff, 1216px 1319px #fff, 611px 1260px #fff, 187px 1039px #fff,
    247px 348px #fff, 795px 81px #fff, 755px 727px #fff, 1775px 676px #fff,
    64px 359px #fff, 1397px 1367px #fff, 78px 1733px #fff, 1506px 1292px #fff,
    1729px 468px #fff, 1865px 1672px #fff, 525px 287px #fff, 860px 1156px #fff,
    1306px 920px #fff, 28px 398px #fff, 1956px 665px #fff, 548px 186px #fff,
    188px 1112px #fff, 1763px 582px #fff, 1422px 1785px #fff, 755px 1420px #fff,
    69px 829px #fff, 1571px 476px #fff, 1871px 1839px #fff, 357px 27px #fff,
    1245px 124px #fff, 664px 1788px #fff, 1053px 884px #fff, 1113px 218px #fff,
    53px 1735px #fff, 1649px 118px #fff, 191px 1917px #fff, 863px 21px #fff,
    1199px 323px #fff, 901px 875px #fff, 1763px 1972px #fff, 660px 1603px #fff,
    1493px 1358px #fff, 1176px 1262px #fff, 845px 927px #fff, 71px 1205px #fff,
    1692px 781px #fff, 1460px 846px #fff, 202px 1722px #fff, 1953px 558px #fff,
    49px 217px #fff, 135px 1348px #fff, 504px 1431px #fff, 1066px 215px #fff,
    1029px 284px #fff, 1437px 920px #fff, 1821px 1657px #fff, 744px 1528px #fff,
    1090px 901px #fff, 1201px 121px #fff, 1631px 868px #fff, 400px 279px #fff,
    890px 1624px #fff, 1679px 1437px #fff, 1223px 1540px #fff, 1224px 952px #fff,
    585px 309px #fff, 844px 1235px #fff, 14px 1509px #fff, 408px 765px #fff,
    1492px 1860px #fff, 333px 1425px #fff, 1318px 1280px #fff, 1482px 391px #fff,
    779px 1094px #fff, 1662px 1185px #fff, 131px 1194px #fff, 364px 1946px #fff,
    693px 1056px #fff, 405px 517px #fff, 1072px 1570px #fff, 1574px 698px #fff,
    40px 1822px #fff, 1613px 1053px #fff, 1989px 48px #fff, 1420px 1160px #fff,
    1204px 1590px #fff, 654px 1995px #fff, 689px 263px #fff, 1735px 1467px #fff,
    1509px 920px #fff, 1353px 1629px #fff, 1116px 254px #fff, 1234px 1089px #fff,
    622px 40px #fff, 145px 1105px #fff, 1778px 1579px #fff, 1219px 1991px #fff,
    79px 1789px #fff, 240px 1303px #fff, 1154px 261px #fff, 539px 1289px #fff,
    1959px 341px #fff, 745px 443px #fff, 1665px 1086px #fff, 502px 1741px #fff,
    166px 142px #fff, 838px 1623px #fff, 171px 732px #fff, 885px 392px #fff,
    560px 1413px #fff, 1223px 1764px #fff, 543px 396px #fff, 721px 787px #fff,
    1330px 1544px #fff, 1690px 959px #fff, 1353px 1534px #fff, 1682px 66px #fff,
    649px 925px #fff, 1874px 1501px #fff, 387px 1554px #fff, 507px 1330px #fff,
    1197px 1312px #fff, 1891px 1441px #fff, 1095px 1878px #fff,
    1440px 1381px #fff, 718px 1135px #fff, 695px 537px #fff, 1599px 1893px #fff,
    1459px 471px #fff, 874px 1043px #fff, 1441px 1643px #fff, 103px 1005px #fff,
    422px 245px #fff, 460px 1386px #fff, 1471px 277px #fff, 1900px 768px #fff,
    1179px 1086px #fff, 796px 1524px #fff, 873px 555px #fff, 1800px 905px #fff,
    637px 25px #fff, 460px 1641px #fff, 1128px 104px #fff, 746px 1618px #fff,
    1219px 762px #fff, 407px 52px #fff, 1301px 295px #fff, 1562px 938px #fff,
    1564px 1775px #fff, 1713px 522px #fff, 1944px 1640px #fff,
    1689px 1518px #fff, 43px 1652px #fff, 527px 1236px #fff, 1042px 1394px #fff,
    1905px 1844px #fff, 911px 603px #fff, 1720px 282px #fff, 1330px 1364px #fff,
    1853px 286px #fff, 1825px 1085px #fff, 1917px 403px #fff, 161px 1148px #fff,
    375px 407px #fff, 21px 229px #fff, 1394px 290px #fff, 762px 1623px #fff,
    704px 1065px #fff, 1759px 1059px #fff, 844px 880px #fff, 1833px 1705px #fff,
    458px 1454px #fff, 693px 1417px #fff, 1200px 1646px #fff, 464px 1622px #fff,
    1899px 1502px #fff, 1929px 1812px #fff, 1001px 1739px #fff,
    255px 1791px #fff, 287px 1990px #fff, 892px 38px #fff, 1737px 1108px #fff,
    197px 1519px #fff, 756px 1294px #fff, 656px 40px #fff, 1480px 1652px #fff,
    1597px 950px #fff, 1422px 982px #fff, 238px 1683px #fff, 1303px 179px #fff,
    1241px 1475px #fff, 1919px 1773px #fff, 973px 828px #fff, 1708px 1129px #fff,
    683px 1852px #fff, 1004px 1100px #fff, 1925px 1903px #fff, 347px 484px #fff,
    550px 1205px #fff, 1587px 1573px #fff, 1698px 589px #fff, 1944px 1001px #fff,
    1320px 872px #fff, 1154px 1948px #fff, 1734px 1168px #fff, 447px 409px #fff,
    557px 345px #fff, 381px 1057px #fff, 1442px 430px #fff, 1139px 881px #fff,
    1451px 1651px #fff, 278px 339px #fff, 582px 163px #fff, 162px 1414px #fff,
    901px 1221px #fff, 1704px 1477px #fff, 1276px 1557px #fff, 821px 938px #fff,
    1158px 1505px #fff, 1444px 1523px #fff, 1741px 1734px #fff,
    1872px 961px #fff, 1498px 1213px #fff, 1551px 556px #fff, 235px 568px #fff,
    143px 1601px #fff, 1546px 514px #fff, 1971px 984px #fff, 1639px 802px #fff,
    1342px 1993px #fff, 78px 1589px #fff, 1692px 1890px #fff, 369px 1169px #fff,
    1254px 929px #fff, 790px 469px #fff, 920px 1705px #fff, 1769px 111px #fff,
    1819px 1592px #fff, 203px 1452px #fff, 1467px 92px #fff, 1671px 401px #fff,
    1314px 1264px #fff, 1944px 1530px #fff, 1584px 521px #fff, 157px 1039px #fff,
    292px 850px #fff, 1319px 1116px #fff, 49px 227px #fff, 1270px 1173px #fff,
    1096px 84px #fff, 1146px 312px #fff, 475px 576px #fff, 582px 1430px #fff,
    1148px 1470px #fff, 221px 304px #fff, 98px 266px #fff, 1025px 1957px #fff,
    17px 193px #fff, 984px 1320px #fff, 341px 514px #fff, 1312px 1975px #fff,
    854px 347px #fff, 1569px 1125px #fff, 1607px 1347px #fff, 946px 573px #fff,
    405px 713px #fff, 780px 1730px #fff, 1217px 1406px #fff, 296px 1273px #fff,
    912px 1621px #fff, 1736px 138px #fff, 324px 671px #fff, 820px 44px #fff,
    306px 42px #fff, 1334px 1635px #fff, 1308px 1734px #fff, 999px 604px #fff,
    1927px 72px #fff, 1428px 1668px #fff, 1935px 412px #fff, 1936px 293px #fff,
    180px 1551px #fff, 1649px 948px #fff, 1253px 1166px #fff, 1333px 1200px #fff,
    590px 1681px #fff, 1544px 840px #fff, 635px 1853px #fff, 1306px 1552px #fff,
    1524px 828px #fff, 956px 1777px #fff, 783px 201px #fff, 836px 276px #fff,
    1549px 1491px #fff, 1054px 1904px #fff, 1030px 1153px #fff,
    1324px 1362px #fff, 1235px 661px #fff, 351px 959px #fff, 319px 1656px #fff,
    1099px 1014px #fff, 2000px 1967px #fff, 49px 1378px #fff, 42px 1054px #fff,
    832px 1046px #fff, 242px 197px #fff, 345px 313px #fff, 1187px 1931px #fff,
    648px 813px #fff, 1038px 1302px #fff, 158px 1388px #fff, 102px 1782px #fff,
    285px 214px #fff, 1940px 1255px #fff, 890px 887px #fff, 701px 1062px #fff,
    126px 1157px #fff, 1961px 39px #fff, 1337px 823px #fff, 274px 1000px #fff,
    1945px 441px #fff, 1739px 307px #fff, 1704px 1028px #fff, 236px 1377px #fff,
    182px 468px #fff, 788px 13px #fff, 1246px 1172px #fff, 1883px 13px #fff,
    1559px 168px #fff, 991px 1657px #fff, 1006px 1568px #fff, 931px 337px #fff,
    1919px 218px #fff, 1446px 674px #fff, 1011px 963px #fff, 1311px 1582px #fff,
    1121px 1688px #fff, 995px 1268px #fff, 1908px 1409px #fff, 1362px 576px #fff,
    63px 1179px #fff, 1416px 1835px #fff, 668px 1416px #fff, 1021px 131px #fff,
    9px 915px #fff, 667px 682px #fff, 693px 1503px #fff, 511px 1017px #fff,
    962px 609px #fff, 1110px 1371px #fff, 1361px 1264px #fff, 1247px 1506px #fff,
    831px 1097px #fff, 74px 141px #fff, 1115px 1020px #fff, 139px 1105px #fff,
    1605px 512px #fff, 1319px 24px #fff, 241px 1707px #fff, 1937px 1234px #fff,
    465px 1032px #fff, 1720px 504px #fff, 978px 1953px #fff, 11px 1588px #fff,
    769px 1227px #fff, 567px 1993px #fff, 1683px 1587px #fff, 343px 1611px #fff,
    425px 1267px #fff, 992px 1936px #fff, 674px 911px #fff, 849px 1534px #fff,
    337px 432px #fff, 578px 1004px #fff, 1300px 868px #fff, 533px 496px #fff,
    471px 1036px #fff, 1489px 1642px #fff, 1233px 113px #fff, 176px 295px #fff,
    463px 922px #fff, 1292px 1695px #fff, 1242px 1528px #fff, 619px 1983px #fff,
    1234px 336px #fff, 1507px 740px #fff, 328px 586px #fff, 1865px 974px #fff,
    22px 1013px #fff, 960px 1942px #fff, 1554px 1155px #fff, 1604px 417px #fff,
    1524px 1711px #fff, 1393px 1149px #fff, 132px 36px #fff, 193px 1508px #fff,
    40px 1111px #fff, 161px 910px #fff, 352px 1064px #fff, 528px 549px #fff,
    594px 1542px #fff, 873px 634px #fff, 163px 552px #fff, 1514px 324px #fff,
    655px 124px #fff, 1682px 297px #fff, 1086px 1572px #fff, 1747px 145px #fff,
    1790px 1278px #fff, 1291px 104px #fff, 1199px 1741px #fff,
    1982px 1439px #fff, 1450px 1667px #fff, 998px 1126px #fff, 412px 246px #fff,
    837px 1056px #fff, 746px 239px #fff, 1534px 425px #fff, 1731px 1288px #fff,
    1155px 1292px #fff, 1748px 799px #fff, 1117px 1921px #fff,
    1707px 1922px #fff, 1235px 174px #fff, 115px 504px #fff, 1351px 1720px #fff,
    906px 261px #fff, 349px 1071px #fff, 1241px 1025px #fff, 1205px 1938px #fff,
    1121px 1594px #fff, 961px 149px #fff, 1962px 12px #fff, 340px 1413px #fff,
    366px 1335px #fff, 1557px 885px #fff, 378px 980px #fff, 1059px 1615px #fff,
    1645px 233px #fff, 112px 953px #fff, 1913px 48px #fff, 48px 289px #fff,
    994px 1368px #fff, 108px 532px #fff, 407px 327px #fff, 1391px 190px #fff,
    534px 150px #fff, 289px 1191px #fff, 719px 1934px #fff, 1996px 1047px #fff,
    662px 1355px #fff, 676px 1766px #fff, 1663px 1752px #fff, 866px 1875px #fff,
    1010px 602px #fff, 706px 1684px #fff, 1353px 1640px #fff, 1185px 387px #fff,
    1819px 189px #fff, 1731px 1175px #fff, 971px 717px #fff, 1742px 181px #fff,
    1769px 1213px #fff, 1375px 1555px #fff, 1221px 1511px #fff, 99px 1932px #fff,
    1528px 688px #fff, 645px 1315px #fff, 1220px 401px #fff, 1132px 254px #fff,
    1417px 493px #fff, 1436px 1835px #fff, 254px 1179px #fff, 1423px 1157px #fff,
    1936px 1823px #fff, 1786px 531px #fff, 680px 995px #fff, 1544px 269px #fff,
    198px 1522px #fff, 754px 1917px #fff, 397px 398px #fff, 855px 1074px #fff,
    1986px 586px #fff, 89px 1697px #fff, 956px 1055px #fff, 1891px 1677px #fff,
    727px 1085px #fff, 161px 513px #fff, 853px 1861px #fff, 1212px 877px #fff,
    1123px 983px #fff, 1413px 1682px #fff, 1138px 1502px #fff, 677px 102px #fff,
    1441px 1777px #fff, 25px 203px #fff, 1280px 1432px #fff, 1906px 44px #fff,
    1927px 1664px #fff, 930px 310px #fff, 1891px 441px #fff, 103px 1513px #fff,
    780px 963px #fff, 1425px 441px #fff, 294px 39px #fff, 1762px 155px #fff,
    1478px 532px #fff, 1947px 1329px #fff, 111px 13px #fff, 1019px 66px #fff,
    1277px 1168px #fff, 124px 237px #fff, 111px 1822px #fff, 1212px 1846px #fff,
    1092px 1100px #fff, 1819px 1650px #fff, 538px 28px #fff, 1875px 1360px #fff,
    1812px 1057px #fff, 69px 133px #fff, 99px 137px #fff, 654px 63px #fff,
    1478px 720px #fff, 1882px 1785px #fff, 1354px 1655px #fff, 28px 771px #fff,
    60px 257px #fff, 324px 104px #fff, 187px 1714px #fff, 1349px 1807px #fff,
    17px 511px #fff, 849px 271px #fff, 1224px 1709px #fff, 613px 819px #fff,
    728px 1401px #fff, 1632px 592px #fff, 1827px 398px #fff, 891px 1743px #fff,
    1689px 771px #fff, 861px 743px #fff, 514px 1414px #fff, 1079px 1569px #fff,
    601px 1766px #fff, 792px 255px #fff, 1px 888px #fff, 1269px 652px #fff,
    869px 1227px #fff, 1642px 509px #fff, 1524px 544px #fff, 713px 1379px #fff,
    688px 676px #fff, 1346px 1682px #fff, 1927px 645px #fff, 1635px 62px #fff,
    684px 772px #fff, 1069px 101px #fff, 1929px 303px #fff, 1334px 1658px #fff,
    695px 1342px #fff, 1881px 1344px #fff, 1431px 538px #fff, 564px 434px #fff,
    2px 38px #fff, 1609px 1597px #fff, 321px 812px #fff, 873px 1342px #fff,
    1658px 188px #fff, 1993px 1333px #fff, 539px 1199px #fff, 1738px 278px #fff,
    567px 762px #fff, 213px 501px #fff, 962px 1015px #fff, 558px 1200px #fff,
    1398px 1388px #fff, 869px 83px #fff, 1811px 348px #fff, 1730px 697px #fff,
    302px 1728px #fff, 564px 136px #fff, 1808px 286px #fff, 476px 1693px #fff,
    1426px 646px #fff, 1731px 622px #fff, 1869px 1918px #fff, 510px 712px #fff,
    839px 862px #fff, 1906px 984px #fff, 1324px 602px #fff, 1558px 875px #fff,
    51px 1395px #fff, 303px 1461px #fff, 121px 912px #fff, 1157px 1727px #fff,
    1060px 298px #fff, 1883px 469px #fff, 701px 1306px #fff, 1706px 286px #fff,
    1400px 1271px #fff, 90px 926px #fff, 1463px 1027px #fff, 1652px 1743px #fff,
    1393px 1375px #fff, 383px 1629px #fff, 1811px 949px #fff, 424px 1235px #fff,
    845px 1830px #fff, 1677px 204px #fff, 337px 19px #fff, 102px 1916px #fff,
    102px 1956px #fff, 1264px 454px #fff, 1866px 794px #fff, 1491px 1304px #fff,
    1147px 1356px #fff, 830px 298px #fff, 48px 1031px #fff, 1885px 199px #fff,
    865px 1404px #fff, 964px 138px #fff, 785px 374px #fff, 1871px 1235px #fff,
    1397px 101px #fff, 388px 1891px #fff, 1860px 236px #fff, 1583px 1878px #fff,
    981px 999px #fff, 1897px 298px #fff, 1177px 1365px #fff, 730px 1797px #fff,
    1682px 1351px #fff, 264px 477px #fff, 262px 1585px #fff, 1579px 69px #fff,
    777px 735px #fff, 1310px 1616px #fff, 1856px 1509px #fff, 1002px 1408px #fff,
    9px 1608px #fff, 1279px 187px #fff, 1591px 1527px #fff, 1251px 151px #fff,
    1805px 387px #fff, 173px 302px #fff, 459px 390px #fff, 1791px 268px #fff,
    1749px 1926px #fff, 139px 746px #fff, 37px 164px #fff, 1570px 890px #fff,
    121px 461px #fff, 244px 612px #fff, 1293px 1939px #fff, 1978px 1855px #fff,
    35px 1155px #fff, 15px 1215px #fff, 1426px 1282px #fff, 384px 35px #fff,
    528px 504px #fff, 84px 1162px #fff, 475px 706px #fff, 1516px 1602px #fff,
    740px 817px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1276px 1146px #fff, 119px 451px #fff, 20px 1046px #fff,
    1513px 252px #fff, 830px 1898px #fff, 1063px 640px #fff, 666px 1490px #fff,
    1490px 41px #fff, 542px 1717px #fff, 1056px 1659px #fff, 236px 734px #fff,
    381px 560px #fff, 1337px 1364px #fff, 1690px 1555px #fff, 1746px 381px #fff,
    1807px 1746px #fff, 1307px 1634px #fff, 1983px 217px #fff,
    1638px 1751px #fff, 1692px 579px #fff, 1458px 220px #fff, 1219px 708px #fff,
    237px 349px #fff, 710px 970px #fff, 859px 1012px #fff, 361px 947px #fff,
    382px 1451px #fff, 1752px 1876px #fff, 381px 916px #fff, 156px 297px #fff,
    1556px 1976px #fff, 1947px 1597px #fff, 631px 372px #fff, 1705px 347px #fff,
    920px 632px #fff, 1146px 868px #fff, 1157px 83px #fff, 1111px 457px #fff,
    1794px 339px #fff, 1216px 1319px #fff, 611px 1260px #fff, 187px 1039px #fff,
    247px 348px #fff, 795px 81px #fff, 755px 727px #fff, 1775px 676px #fff,
    64px 359px #fff, 1397px 1367px #fff, 78px 1733px #fff, 1506px 1292px #fff,
    1729px 468px #fff, 1865px 1672px #fff, 525px 287px #fff, 860px 1156px #fff,
    1306px 920px #fff, 28px 398px #fff, 1956px 665px #fff, 548px 186px #fff,
    188px 1112px #fff, 1763px 582px #fff, 1422px 1785px #fff, 755px 1420px #fff,
    69px 829px #fff, 1571px 476px #fff, 1871px 1839px #fff, 357px 27px #fff,
    1245px 124px #fff, 664px 1788px #fff, 1053px 884px #fff, 1113px 218px #fff,
    53px 1735px #fff, 1649px 118px #fff, 191px 1917px #fff, 863px 21px #fff,
    1199px 323px #fff, 901px 875px #fff, 1763px 1972px #fff, 660px 1603px #fff,
    1493px 1358px #fff, 1176px 1262px #fff, 845px 927px #fff, 71px 1205px #fff,
    1692px 781px #fff, 1460px 846px #fff, 202px 1722px #fff, 1953px 558px #fff,
    49px 217px #fff, 135px 1348px #fff, 504px 1431px #fff, 1066px 215px #fff,
    1029px 284px #fff, 1437px 920px #fff, 1821px 1657px #fff, 744px 1528px #fff,
    1090px 901px #fff, 1201px 121px #fff, 1631px 868px #fff, 400px 279px #fff,
    890px 1624px #fff, 1679px 1437px #fff, 1223px 1540px #fff, 1224px 952px #fff,
    585px 309px #fff, 844px 1235px #fff, 14px 1509px #fff, 408px 765px #fff,
    1492px 1860px #fff, 333px 1425px #fff, 1318px 1280px #fff, 1482px 391px #fff,
    779px 1094px #fff, 1662px 1185px #fff, 131px 1194px #fff, 364px 1946px #fff,
    693px 1056px #fff, 405px 517px #fff, 1072px 1570px #fff, 1574px 698px #fff,
    40px 1822px #fff, 1613px 1053px #fff, 1989px 48px #fff, 1420px 1160px #fff,
    1204px 1590px #fff, 654px 1995px #fff, 689px 263px #fff, 1735px 1467px #fff,
    1509px 920px #fff, 1353px 1629px #fff, 1116px 254px #fff, 1234px 1089px #fff,
    622px 40px #fff, 145px 1105px #fff, 1778px 1579px #fff, 1219px 1991px #fff,
    79px 1789px #fff, 240px 1303px #fff, 1154px 261px #fff, 539px 1289px #fff,
    1959px 341px #fff, 745px 443px #fff, 1665px 1086px #fff, 502px 1741px #fff,
    166px 142px #fff, 838px 1623px #fff, 171px 732px #fff, 885px 392px #fff,
    560px 1413px #fff, 1223px 1764px #fff, 543px 396px #fff, 721px 787px #fff,
    1330px 1544px #fff, 1690px 959px #fff, 1353px 1534px #fff, 1682px 66px #fff,
    649px 925px #fff, 1874px 1501px #fff, 387px 1554px #fff, 507px 1330px #fff,
    1197px 1312px #fff, 1891px 1441px #fff, 1095px 1878px #fff,
    1440px 1381px #fff, 718px 1135px #fff, 695px 537px #fff, 1599px 1893px #fff,
    1459px 471px #fff, 874px 1043px #fff, 1441px 1643px #fff, 103px 1005px #fff,
    422px 245px #fff, 460px 1386px #fff, 1471px 277px #fff, 1900px 768px #fff,
    1179px 1086px #fff, 796px 1524px #fff, 873px 555px #fff, 1800px 905px #fff,
    637px 25px #fff, 460px 1641px #fff, 1128px 104px #fff, 746px 1618px #fff,
    1219px 762px #fff, 407px 52px #fff, 1301px 295px #fff, 1562px 938px #fff,
    1564px 1775px #fff, 1713px 522px #fff, 1944px 1640px #fff,
    1689px 1518px #fff, 43px 1652px #fff, 527px 1236px #fff, 1042px 1394px #fff,
    1905px 1844px #fff, 911px 603px #fff, 1720px 282px #fff, 1330px 1364px #fff,
    1853px 286px #fff, 1825px 1085px #fff, 1917px 403px #fff, 161px 1148px #fff,
    375px 407px #fff, 21px 229px #fff, 1394px 290px #fff, 762px 1623px #fff,
    704px 1065px #fff, 1759px 1059px #fff, 844px 880px #fff, 1833px 1705px #fff,
    458px 1454px #fff, 693px 1417px #fff, 1200px 1646px #fff, 464px 1622px #fff,
    1899px 1502px #fff, 1929px 1812px #fff, 1001px 1739px #fff,
    255px 1791px #fff, 287px 1990px #fff, 892px 38px #fff, 1737px 1108px #fff,
    197px 1519px #fff, 756px 1294px #fff, 656px 40px #fff, 1480px 1652px #fff,
    1597px 950px #fff, 1422px 982px #fff, 238px 1683px #fff, 1303px 179px #fff,
    1241px 1475px #fff, 1919px 1773px #fff, 973px 828px #fff, 1708px 1129px #fff,
    683px 1852px #fff, 1004px 1100px #fff, 1925px 1903px #fff, 347px 484px #fff,
    550px 1205px #fff, 1587px 1573px #fff, 1698px 589px #fff, 1944px 1001px #fff,
    1320px 872px #fff, 1154px 1948px #fff, 1734px 1168px #fff, 447px 409px #fff,
    557px 345px #fff, 381px 1057px #fff, 1442px 430px #fff, 1139px 881px #fff,
    1451px 1651px #fff, 278px 339px #fff, 582px 163px #fff, 162px 1414px #fff,
    901px 1221px #fff, 1704px 1477px #fff, 1276px 1557px #fff, 821px 938px #fff,
    1158px 1505px #fff, 1444px 1523px #fff, 1741px 1734px #fff,
    1872px 961px #fff, 1498px 1213px #fff, 1551px 556px #fff, 235px 568px #fff,
    143px 1601px #fff, 1546px 514px #fff, 1971px 984px #fff, 1639px 802px #fff,
    1342px 1993px #fff, 78px 1589px #fff, 1692px 1890px #fff, 369px 1169px #fff,
    1254px 929px #fff, 790px 469px #fff, 920px 1705px #fff, 1769px 111px #fff,
    1819px 1592px #fff, 203px 1452px #fff, 1467px 92px #fff, 1671px 401px #fff,
    1314px 1264px #fff, 1944px 1530px #fff, 1584px 521px #fff, 157px 1039px #fff,
    292px 850px #fff, 1319px 1116px #fff, 49px 227px #fff, 1270px 1173px #fff,
    1096px 84px #fff, 1146px 312px #fff, 475px 576px #fff, 582px 1430px #fff,
    1148px 1470px #fff, 221px 304px #fff, 98px 266px #fff, 1025px 1957px #fff,
    17px 193px #fff, 984px 1320px #fff, 341px 514px #fff, 1312px 1975px #fff,
    854px 347px #fff, 1569px 1125px #fff, 1607px 1347px #fff, 946px 573px #fff,
    405px 713px #fff, 780px 1730px #fff, 1217px 1406px #fff, 296px 1273px #fff,
    912px 1621px #fff, 1736px 138px #fff, 324px 671px #fff, 820px 44px #fff,
    306px 42px #fff, 1334px 1635px #fff, 1308px 1734px #fff, 999px 604px #fff,
    1927px 72px #fff, 1428px 1668px #fff, 1935px 412px #fff, 1936px 293px #fff,
    180px 1551px #fff, 1649px 948px #fff, 1253px 1166px #fff, 1333px 1200px #fff,
    590px 1681px #fff, 1544px 840px #fff, 635px 1853px #fff, 1306px 1552px #fff,
    1524px 828px #fff, 956px 1777px #fff, 783px 201px #fff, 836px 276px #fff,
    1549px 1491px #fff, 1054px 1904px #fff, 1030px 1153px #fff,
    1324px 1362px #fff, 1235px 661px #fff, 351px 959px #fff, 319px 1656px #fff,
    1099px 1014px #fff, 2000px 1967px #fff, 49px 1378px #fff, 42px 1054px #fff,
    832px 1046px #fff, 242px 197px #fff, 345px 313px #fff, 1187px 1931px #fff,
    648px 813px #fff, 1038px 1302px #fff, 158px 1388px #fff, 102px 1782px #fff,
    285px 214px #fff, 1940px 1255px #fff, 890px 887px #fff, 701px 1062px #fff,
    126px 1157px #fff, 1961px 39px #fff, 1337px 823px #fff, 274px 1000px #fff,
    1945px 441px #fff, 1739px 307px #fff, 1704px 1028px #fff, 236px 1377px #fff,
    182px 468px #fff, 788px 13px #fff, 1246px 1172px #fff, 1883px 13px #fff,
    1559px 168px #fff, 991px 1657px #fff, 1006px 1568px #fff, 931px 337px #fff,
    1919px 218px #fff, 1446px 674px #fff, 1011px 963px #fff, 1311px 1582px #fff,
    1121px 1688px #fff, 995px 1268px #fff, 1908px 1409px #fff, 1362px 576px #fff,
    63px 1179px #fff, 1416px 1835px #fff, 668px 1416px #fff, 1021px 131px #fff,
    9px 915px #fff, 667px 682px #fff, 693px 1503px #fff, 511px 1017px #fff,
    962px 609px #fff, 1110px 1371px #fff, 1361px 1264px #fff, 1247px 1506px #fff,
    831px 1097px #fff, 74px 141px #fff, 1115px 1020px #fff, 139px 1105px #fff,
    1605px 512px #fff, 1319px 24px #fff, 241px 1707px #fff, 1937px 1234px #fff,
    465px 1032px #fff, 1720px 504px #fff, 978px 1953px #fff, 11px 1588px #fff,
    769px 1227px #fff, 567px 1993px #fff, 1683px 1587px #fff, 343px 1611px #fff,
    425px 1267px #fff, 992px 1936px #fff, 674px 911px #fff, 849px 1534px #fff,
    337px 432px #fff, 578px 1004px #fff, 1300px 868px #fff, 533px 496px #fff,
    471px 1036px #fff, 1489px 1642px #fff, 1233px 113px #fff, 176px 295px #fff,
    463px 922px #fff, 1292px 1695px #fff, 1242px 1528px #fff, 619px 1983px #fff,
    1234px 336px #fff, 1507px 740px #fff, 328px 586px #fff, 1865px 974px #fff,
    22px 1013px #fff, 960px 1942px #fff, 1554px 1155px #fff, 1604px 417px #fff,
    1524px 1711px #fff, 1393px 1149px #fff, 132px 36px #fff, 193px 1508px #fff,
    40px 1111px #fff, 161px 910px #fff, 352px 1064px #fff, 528px 549px #fff,
    594px 1542px #fff, 873px 634px #fff, 163px 552px #fff, 1514px 324px #fff,
    655px 124px #fff, 1682px 297px #fff, 1086px 1572px #fff, 1747px 145px #fff,
    1790px 1278px #fff, 1291px 104px #fff, 1199px 1741px #fff,
    1982px 1439px #fff, 1450px 1667px #fff, 998px 1126px #fff, 412px 246px #fff,
    837px 1056px #fff, 746px 239px #fff, 1534px 425px #fff, 1731px 1288px #fff,
    1155px 1292px #fff, 1748px 799px #fff, 1117px 1921px #fff,
    1707px 1922px #fff, 1235px 174px #fff, 115px 504px #fff, 1351px 1720px #fff,
    906px 261px #fff, 349px 1071px #fff, 1241px 1025px #fff, 1205px 1938px #fff,
    1121px 1594px #fff, 961px 149px #fff, 1962px 12px #fff, 340px 1413px #fff,
    366px 1335px #fff, 1557px 885px #fff, 378px 980px #fff, 1059px 1615px #fff,
    1645px 233px #fff, 112px 953px #fff, 1913px 48px #fff, 48px 289px #fff,
    994px 1368px #fff, 108px 532px #fff, 407px 327px #fff, 1391px 190px #fff,
    534px 150px #fff, 289px 1191px #fff, 719px 1934px #fff, 1996px 1047px #fff,
    662px 1355px #fff, 676px 1766px #fff, 1663px 1752px #fff, 866px 1875px #fff,
    1010px 602px #fff, 706px 1684px #fff, 1353px 1640px #fff, 1185px 387px #fff,
    1819px 189px #fff, 1731px 1175px #fff, 971px 717px #fff, 1742px 181px #fff,
    1769px 1213px #fff, 1375px 1555px #fff, 1221px 1511px #fff, 99px 1932px #fff,
    1528px 688px #fff, 645px 1315px #fff, 1220px 401px #fff, 1132px 254px #fff,
    1417px 493px #fff, 1436px 1835px #fff, 254px 1179px #fff, 1423px 1157px #fff,
    1936px 1823px #fff, 1786px 531px #fff, 680px 995px #fff, 1544px 269px #fff,
    198px 1522px #fff, 754px 1917px #fff, 397px 398px #fff, 855px 1074px #fff,
    1986px 586px #fff, 89px 1697px #fff, 956px 1055px #fff, 1891px 1677px #fff,
    727px 1085px #fff, 161px 513px #fff, 853px 1861px #fff, 1212px 877px #fff,
    1123px 983px #fff, 1413px 1682px #fff, 1138px 1502px #fff, 677px 102px #fff,
    1441px 1777px #fff, 25px 203px #fff, 1280px 1432px #fff, 1906px 44px #fff,
    1927px 1664px #fff, 930px 310px #fff, 1891px 441px #fff, 103px 1513px #fff,
    780px 963px #fff, 1425px 441px #fff, 294px 39px #fff, 1762px 155px #fff,
    1478px 532px #fff, 1947px 1329px #fff, 111px 13px #fff, 1019px 66px #fff,
    1277px 1168px #fff, 124px 237px #fff, 111px 1822px #fff, 1212px 1846px #fff,
    1092px 1100px #fff, 1819px 1650px #fff, 538px 28px #fff, 1875px 1360px #fff,
    1812px 1057px #fff, 69px 133px #fff, 99px 137px #fff, 654px 63px #fff,
    1478px 720px #fff, 1882px 1785px #fff, 1354px 1655px #fff, 28px 771px #fff,
    60px 257px #fff, 324px 104px #fff, 187px 1714px #fff, 1349px 1807px #fff,
    17px 511px #fff, 849px 271px #fff, 1224px 1709px #fff, 613px 819px #fff,
    728px 1401px #fff, 1632px 592px #fff, 1827px 398px #fff, 891px 1743px #fff,
    1689px 771px #fff, 861px 743px #fff, 514px 1414px #fff, 1079px 1569px #fff,
    601px 1766px #fff, 792px 255px #fff, 1px 888px #fff, 1269px 652px #fff,
    869px 1227px #fff, 1642px 509px #fff, 1524px 544px #fff, 713px 1379px #fff,
    688px 676px #fff, 1346px 1682px #fff, 1927px 645px #fff, 1635px 62px #fff,
    684px 772px #fff, 1069px 101px #fff, 1929px 303px #fff, 1334px 1658px #fff,
    695px 1342px #fff, 1881px 1344px #fff, 1431px 538px #fff, 564px 434px #fff,
    2px 38px #fff, 1609px 1597px #fff, 321px 812px #fff, 873px 1342px #fff,
    1658px 188px #fff, 1993px 1333px #fff, 539px 1199px #fff, 1738px 278px #fff,
    567px 762px #fff, 213px 501px #fff, 962px 1015px #fff, 558px 1200px #fff,
    1398px 1388px #fff, 869px 83px #fff, 1811px 348px #fff, 1730px 697px #fff,
    302px 1728px #fff, 564px 136px #fff, 1808px 286px #fff, 476px 1693px #fff,
    1426px 646px #fff, 1731px 622px #fff, 1869px 1918px #fff, 510px 712px #fff,
    839px 862px #fff, 1906px 984px #fff, 1324px 602px #fff, 1558px 875px #fff,
    51px 1395px #fff, 303px 1461px #fff, 121px 912px #fff, 1157px 1727px #fff,
    1060px 298px #fff, 1883px 469px #fff, 701px 1306px #fff, 1706px 286px #fff,
    1400px 1271px #fff, 90px 926px #fff, 1463px 1027px #fff, 1652px 1743px #fff,
    1393px 1375px #fff, 383px 1629px #fff, 1811px 949px #fff, 424px 1235px #fff,
    845px 1830px #fff, 1677px 204px #fff, 337px 19px #fff, 102px 1916px #fff,
    102px 1956px #fff, 1264px 454px #fff, 1866px 794px #fff, 1491px 1304px #fff,
    1147px 1356px #fff, 830px 298px #fff, 48px 1031px #fff, 1885px 199px #fff,
    865px 1404px #fff, 964px 138px #fff, 785px 374px #fff, 1871px 1235px #fff,
    1397px 101px #fff, 388px 1891px #fff, 1860px 236px #fff, 1583px 1878px #fff,
    981px 999px #fff, 1897px 298px #fff, 1177px 1365px #fff, 730px 1797px #fff,
    1682px 1351px #fff, 264px 477px #fff, 262px 1585px #fff, 1579px 69px #fff,
    777px 735px #fff, 1310px 1616px #fff, 1856px 1509px #fff, 1002px 1408px #fff,
    9px 1608px #fff, 1279px 187px #fff, 1591px 1527px #fff, 1251px 151px #fff,
    1805px 387px #fff, 173px 302px #fff, 459px 390px #fff, 1791px 268px #fff,
    1749px 1926px #fff, 139px 746px #fff, 37px 164px #fff, 1570px 890px #fff,
    121px 461px #fff, 244px 612px #fff, 1293px 1939px #fff, 1978px 1855px #fff,
    35px 1155px #fff, 15px 1215px #fff, 1426px 1282px #fff, 384px 35px #fff,
    528px 504px #fff, 84px 1162px #fff, 475px 706px #fff, 1516px 1602px #fff,
    740px 817px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1681px 1245px #fff, 1083px 213px #fff, 1986px 742px #fff,
    1330px 84px #fff, 253px 36px #fff, 270px 1354px #fff, 668px 1419px #fff,
    1773px 70px #fff, 1427px 738px #fff, 63px 548px #fff, 1537px 1581px #fff,
    1725px 49px #fff, 308px 1793px #fff, 1915px 1971px #fff, 437px 21px #fff,
    1557px 749px #fff, 477px 1842px #fff, 1711px 892px #fff, 149px 1633px #fff,
    509px 346px #fff, 1820px 1002px #fff, 602px 1932px #fff, 305px 1028px #fff,
    24px 932px #fff, 1770px 1261px #fff, 805px 1257px #fff, 1849px 360px #fff,
    90px 517px #fff, 1667px 571px #fff, 1716px 852px #fff, 947px 1926px #fff,
    493px 1564px #fff, 189px 962px #fff, 1965px 1179px #fff, 323px 375px #fff,
    405px 1324px #fff, 890px 1613px #fff, 1166px 1481px #fff, 1452px 1634px #fff,
    157px 12px #fff, 1975px 1956px #fff, 421px 662px #fff, 1249px 1043px #fff,
    1500px 1432px #fff, 1653px 481px #fff, 349px 1276px #fff, 618px 640px #fff,
    1972px 1845px #fff, 770px 693px #fff, 263px 782px #fff, 970px 1746px #fff,
    374px 1890px #fff, 775px 944px #fff, 313px 1709px #fff, 53px 1129px #fff,
    203px 343px #fff, 1459px 1081px #fff, 1159px 1163px #fff, 1218px 354px #fff,
    483px 1802px #fff, 403px 1926px #fff, 451px 1725px #fff, 623px 347px #fff,
    1369px 1717px #fff, 1713px 1920px #fff, 881px 1439px #fff, 1629px 378px #fff,
    269px 1639px #fff, 1760px 1702px #fff, 1401px 475px #fff, 745px 1117px #fff,
    1548px 172px #fff, 865px 1440px #fff, 1870px 393px #fff, 558px 759px #fff,
    138px 1636px #fff, 521px 157px #fff, 214px 1490px #fff, 1520px 871px #fff,
    720px 832px #fff, 1268px 713px #fff, 729px 1860px #fff, 816px 1076px #fff,
    1084px 149px #fff, 879px 247px #fff, 1501px 1358px #fff, 661px 532px #fff,
    918px 1298px #fff, 869px 682px #fff, 1682px 1126px #fff, 76px 799px #fff,
    1357px 1763px #fff, 1268px 500px #fff, 717px 1555px #fff, 1126px 1152px #fff,
    1269px 1368px #fff, 49px 1780px #fff, 310px 543px #fff, 1286px 1726px #fff,
    252px 1976px #fff, 240px 1505px #fff, 1498px 953px #fff, 218px 11px #fff,
    1030px 1816px #fff, 118px 1833px #fff, 934px 942px #fff, 1989px 262px #fff,
    1228px 478px #fff, 1914px 1898px #fff, 21px 418px #fff, 255px 1965px #fff,
    34px 1083px #fff, 68px 1662px #fff, 1061px 986px #fff, 1275px 721px #fff,
    1741px 225px #fff, 1400px 935px #fff, 1903px 415px #fff, 629px 481px #fff,
    1017px 1229px #fff, 1374px 771px #fff, 1216px 1839px #fff, 934px 1155px #fff,
    8px 517px #fff, 60px 1453px #fff, 1607px 277px #fff, 1501px 618px #fff,
    284px 1570px #fff, 1249px 594px #fff, 764px 1196px #fff, 1836px 395px #fff,
    225px 1995px #fff, 1548px 1812px #fff, 355px 100px #fff, 1205px 1852px #fff,
    1285px 307px #fff, 816px 675px #fff, 1885px 697px #fff, 1833px 169px #fff,
    206px 1141px #fff, 1796px 1209px #fff, 1914px 1950px #fff,
    1534px 1791px #fff, 546px 859px #fff, 1646px 321px #fff, 1733px 770px #fff,
    752px 1602px #fff, 235px 1316px #fff, 1556px 1253px #fff, 860px 1886px #fff,
    530px 694px #fff, 750px 372px #fff, 1651px 1309px #fff, 1040px 541px #fff,
    57px 1568px #fff, 129px 1842px #fff, 732px 1915px #fff, 825px 1748px #fff,
    254px 831px #fff, 823px 666px #fff, 298px 1611px #fff, 1554px 290px #fff,
    54px 1478px #fff, 479px 203px #fff, 1804px 810px #fff, 322px 925px #fff,
    575px 1125px #fff, 830px 103px #fff, 1163px 691px #fff, 1316px 1799px #fff,
    1800px 1369px #fff, 976px 937px #fff, 760px 1164px #fff, 1912px 854px #fff,
    990px 1355px #fff, 887px 1728px #fff, 1900px 1652px #fff, 1425px 1635px #fff,
    19px 1697px #fff, 484px 1126px #fff, 1218px 1734px #fff, 1288px 1495px #fff,
    1315px 1372px #fff, 715px 1451px #fff, 521px 1071px #fff, 999px 64px #fff,
    770px 608px #fff, 1035px 1682px #fff, 1289px 367px #fff, 306px 392px #fff,
    751px 632px #fff, 530px 952px #fff, 1365px 697px #fff, 1063px 1769px #fff,
    1297px 275px #fff, 1019px 888px #fff, 910px 1859px #fff, 1194px 1505px #fff,
    1942px 384px #fff, 398px 1262px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1681px 1245px #fff, 1083px 213px #fff, 1986px 742px #fff,
    1330px 84px #fff, 253px 36px #fff, 270px 1354px #fff, 668px 1419px #fff,
    1773px 70px #fff, 1427px 738px #fff, 63px 548px #fff, 1537px 1581px #fff,
    1725px 49px #fff, 308px 1793px #fff, 1915px 1971px #fff, 437px 21px #fff,
    1557px 749px #fff, 477px 1842px #fff, 1711px 892px #fff, 149px 1633px #fff,
    509px 346px #fff, 1820px 1002px #fff, 602px 1932px #fff, 305px 1028px #fff,
    24px 932px #fff, 1770px 1261px #fff, 805px 1257px #fff, 1849px 360px #fff,
    90px 517px #fff, 1667px 571px #fff, 1716px 852px #fff, 947px 1926px #fff,
    493px 1564px #fff, 189px 962px #fff, 1965px 1179px #fff, 323px 375px #fff,
    405px 1324px #fff, 890px 1613px #fff, 1166px 1481px #fff, 1452px 1634px #fff,
    157px 12px #fff, 1975px 1956px #fff, 421px 662px #fff, 1249px 1043px #fff,
    1500px 1432px #fff, 1653px 481px #fff, 349px 1276px #fff, 618px 640px #fff,
    1972px 1845px #fff, 770px 693px #fff, 263px 782px #fff, 970px 1746px #fff,
    374px 1890px #fff, 775px 944px #fff, 313px 1709px #fff, 53px 1129px #fff,
    203px 343px #fff, 1459px 1081px #fff, 1159px 1163px #fff, 1218px 354px #fff,
    483px 1802px #fff, 403px 1926px #fff, 451px 1725px #fff, 623px 347px #fff,
    1369px 1717px #fff, 1713px 1920px #fff, 881px 1439px #fff, 1629px 378px #fff,
    269px 1639px #fff, 1760px 1702px #fff, 1401px 475px #fff, 745px 1117px #fff,
    1548px 172px #fff, 865px 1440px #fff, 1870px 393px #fff, 558px 759px #fff,
    138px 1636px #fff, 521px 157px #fff, 214px 1490px #fff, 1520px 871px #fff,
    720px 832px #fff, 1268px 713px #fff, 729px 1860px #fff, 816px 1076px #fff,
    1084px 149px #fff, 879px 247px #fff, 1501px 1358px #fff, 661px 532px #fff,
    918px 1298px #fff, 869px 682px #fff, 1682px 1126px #fff, 76px 799px #fff,
    1357px 1763px #fff, 1268px 500px #fff, 717px 1555px #fff, 1126px 1152px #fff,
    1269px 1368px #fff, 49px 1780px #fff, 310px 543px #fff, 1286px 1726px #fff,
    252px 1976px #fff, 240px 1505px #fff, 1498px 953px #fff, 218px 11px #fff,
    1030px 1816px #fff, 118px 1833px #fff, 934px 942px #fff, 1989px 262px #fff,
    1228px 478px #fff, 1914px 1898px #fff, 21px 418px #fff, 255px 1965px #fff,
    34px 1083px #fff, 68px 1662px #fff, 1061px 986px #fff, 1275px 721px #fff,
    1741px 225px #fff, 1400px 935px #fff, 1903px 415px #fff, 629px 481px #fff,
    1017px 1229px #fff, 1374px 771px #fff, 1216px 1839px #fff, 934px 1155px #fff,
    8px 517px #fff, 60px 1453px #fff, 1607px 277px #fff, 1501px 618px #fff,
    284px 1570px #fff, 1249px 594px #fff, 764px 1196px #fff, 1836px 395px #fff,
    225px 1995px #fff, 1548px 1812px #fff, 355px 100px #fff, 1205px 1852px #fff,
    1285px 307px #fff, 816px 675px #fff, 1885px 697px #fff, 1833px 169px #fff,
    206px 1141px #fff, 1796px 1209px #fff, 1914px 1950px #fff,
    1534px 1791px #fff, 546px 859px #fff, 1646px 321px #fff, 1733px 770px #fff,
    752px 1602px #fff, 235px 1316px #fff, 1556px 1253px #fff, 860px 1886px #fff,
    530px 694px #fff, 750px 372px #fff, 1651px 1309px #fff, 1040px 541px #fff,
    57px 1568px #fff, 129px 1842px #fff, 732px 1915px #fff, 825px 1748px #fff,
    254px 831px #fff, 823px 666px #fff, 298px 1611px #fff, 1554px 290px #fff,
    54px 1478px #fff, 479px 203px #fff, 1804px 810px #fff, 322px 925px #fff,
    575px 1125px #fff, 830px 103px #fff, 1163px 691px #fff, 1316px 1799px #fff,
    1800px 1369px #fff, 976px 937px #fff, 760px 1164px #fff, 1912px 854px #fff,
    990px 1355px #fff, 887px 1728px #fff, 1900px 1652px #fff, 1425px 1635px #fff,
    19px 1697px #fff, 484px 1126px #fff, 1218px 1734px #fff, 1288px 1495px #fff,
    1315px 1372px #fff, 715px 1451px #fff, 521px 1071px #fff, 999px 64px #fff,
    770px 608px #fff, 1035px 1682px #fff, 1289px 367px #fff, 306px 392px #fff,
    751px 632px #fff, 530px 952px #fff, 1365px 697px #fff, 1063px 1769px #fff,
    1297px 275px #fff, 1019px 888px #fff, 910px 1859px #fff, 1194px 1505px #fff,
    1942px 384px #fff, 398px 1262px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1315px 1158px #fff, 837px 571px #fff, 466px 1352px #fff,
    722px 1033px #fff, 1164px 1819px #fff, 1974px 1726px #fff, 1080px 977px #fff,
    387px 1423px #fff, 1850px 1632px #fff, 1583px 419px #fff, 881px 1335px #fff,
    238px 1960px #fff, 236px 561px #fff, 1125px 1477px #fff, 1376px 199px #fff,
    1592px 12px #fff, 12px 1476px #fff, 1387px 658px #fff, 101px 1363px #fff,
    807px 59px #fff, 684px 1547px #fff, 47px 82px #fff, 1446px 255px #fff,
    81px 896px #fff, 179px 879px #fff, 1355px 907px #fff, 381px 258px #fff,
    1963px 670px #fff, 833px 1805px #fff, 362px 1651px #fff, 817px 1153px #fff,
    1186px 789px #fff, 1662px 686px #fff, 110px 632px #fff, 1071px 378px #fff,
    742px 326px #fff, 589px 423px #fff, 1431px 1640px #fff, 1852px 473px #fff,
    1158px 260px #fff, 1231px 335px #fff, 1047px 1311px #fff, 146px 1180px #fff,
    1872px 419px #fff, 1424px 486px #fff, 1183px 1896px #fff, 964px 1260px #fff,
    545px 1576px #fff, 190px 545px #fff, 336px 1287px #fff, 1785px 1208px #fff,
    773px 1622px #fff, 1678px 1157px #fff, 1046px 689px #fff, 664px 1539px #fff,
    1025px 1242px #fff, 124px 1706px #fff, 1434px 1296px #fff, 842px 1189px #fff,
    892px 621px #fff, 562px 1969px #fff, 645px 1866px #fff, 514px 796px #fff,
    1839px 1874px #fff, 66px 839px #fff, 714px 789px #fff, 1009px 1517px #fff,
    909px 1143px #fff, 543px 1567px #fff, 10px 798px #fff, 375px 705px #fff,
    906px 1828px #fff, 1281px 810px #fff, 1478px 813px #fff, 1031px 354px #fff,
    458px 1418px #fff, 551px 1239px #fff, 1679px 462px #fff, 648px 1921px #fff,
    1088px 655px #fff, 254px 1837px #fff, 156px 1179px #fff, 1667px 128px #fff,
    1505px 372px #fff, 423px 213px #fff, 1791px 232px #fff, 1797px 1014px #fff,
    1578px 305px #fff, 1818px 1526px #fff, 922px 1759px #fff, 1208px 1236px #fff,
    580px 60px #fff, 1019px 115px #fff, 1863px 805px #fff, 319px 1370px #fff,
    1885px 85px #fff, 393px 52px #fff, 54px 644px #fff, 1388px 1405px #fff,
    888px 1339px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1315px 1158px #fff, 837px 571px #fff, 466px 1352px #fff,
    722px 1033px #fff, 1164px 1819px #fff, 1974px 1726px #fff, 1080px 977px #fff,
    387px 1423px #fff, 1850px 1632px #fff, 1583px 419px #fff, 881px 1335px #fff,
    238px 1960px #fff, 236px 561px #fff, 1125px 1477px #fff, 1376px 199px #fff,
    1592px 12px #fff, 12px 1476px #fff, 1387px 658px #fff, 101px 1363px #fff,
    807px 59px #fff, 684px 1547px #fff, 47px 82px #fff, 1446px 255px #fff,
    81px 896px #fff, 179px 879px #fff, 1355px 907px #fff, 381px 258px #fff,
    1963px 670px #fff, 833px 1805px #fff, 362px 1651px #fff, 817px 1153px #fff,
    1186px 789px #fff, 1662px 686px #fff, 110px 632px #fff, 1071px 378px #fff,
    742px 326px #fff, 589px 423px #fff, 1431px 1640px #fff, 1852px 473px #fff,
    1158px 260px #fff, 1231px 335px #fff, 1047px 1311px #fff, 146px 1180px #fff,
    1872px 419px #fff, 1424px 486px #fff, 1183px 1896px #fff, 964px 1260px #fff,
    545px 1576px #fff, 190px 545px #fff, 336px 1287px #fff, 1785px 1208px #fff,
    773px 1622px #fff, 1678px 1157px #fff, 1046px 689px #fff, 664px 1539px #fff,
    1025px 1242px #fff, 124px 1706px #fff, 1434px 1296px #fff, 842px 1189px #fff,
    892px 621px #fff, 562px 1969px #fff, 645px 1866px #fff, 514px 796px #fff,
    1839px 1874px #fff, 66px 839px #fff, 714px 789px #fff, 1009px 1517px #fff,
    909px 1143px #fff, 543px 1567px #fff, 10px 798px #fff, 375px 705px #fff,
    906px 1828px #fff, 1281px 810px #fff, 1478px 813px #fff, 1031px 354px #fff,
    458px 1418px #fff, 551px 1239px #fff, 1679px 462px #fff, 648px 1921px #fff,
    1088px 655px #fff, 254px 1837px #fff, 156px 1179px #fff, 1667px 128px #fff,
    1505px 372px #fff, 423px 213px #fff, 1791px 232px #fff, 1797px 1014px #fff,
    1578px 305px #fff, 1818px 1526px #fff, 922px 1759px #fff, 1208px 1236px #fff,
    580px 60px #fff, 1019px 115px #fff, 1863px 805px #fff, 319px 1370px #fff,
    1885px 85px #fff, 393px 52px #fff, 54px 644px #fff, 1388px 1405px #fff,
    888px 1339px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  text-transform: uppercase;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@media (min-width: 991px) {
  #title {
    font-size: 70px;
  }
}
@media (max-width: 450px) {
  #title {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 150%;
  }
}
